// Reset & Base
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background-color: #050507;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block; //インライン画像の下にできる謎の余白を消すためのテクニック
  max-width: 100%;
}

li {
  list-style: none;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}
